* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Archivo Narrow', sans-serif;
}

.navbar {
    position: absolute;
    z-index: 1;
    width: 100%;
    border: none;
    background-color: transparent;
}

.navbar .container-fluid .navbar-header .navbar-brand {
    background-image: url(../img/4-2-batman-dark-knight-logo-png-thumb.png);
    background-size: contain;
    width: 120px;
    height: 120px;
}

.navbar-default .navbar-collapse {
    float: right;
    border: none;
}

.navbar-default .navbar-nav>li>a {
    padding: 25px 30px;
    margin-right: 50px;
    color: #000000;
    transition: 0.3s ease;
    text-transform: uppercase;
    
}

.navbar-default .navbar-nav>li {
    margin-top: 20px;
}

.navbar-default .navbar-nav>li>a:hover {
    border-bottom: 1px solid #000000;
    color: #3b3b3b;
    padding: 20px 30px;
}

.main-header {
    background: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.19)), url(../img/bgPhoto.jpeg);
    width: 100%;
    height: 80vh;
    background-size: cover;
}

.col h1 {
    padding-top: 350px;
    text-align: center;
    letter-spacing: 20px;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    font-size: 60px;
}

.col h5 {
    
    text-align: center;
    color: #a0a0a0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 10px;
}

.col .glyphicon {
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color:#fff;
    font-size: 32px;
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}


.navbar-collapse .collapse .in ul>li {
    color: #fff;
    float: left;
}

#images-with-text {
    margin-bottom: 100px;
}

.sekcja-1 .row .sekcja-obrazek {
    background-image: url(../img/batman-1126127_1280.jpg);
    background-size: cover;
    height: 60vh;
}
.sekcja-1 .row .sekcja-obrazek-drugi {
    background-image: url(../img/1094376311-batman-v-superman-ben-affleck-2.png);
    background-size: cover;
    background-position: center;
    height: 60vh;
}
.sekcja-1 .col-lg-6 {
    padding:0;
}
.sekcja-1 .row .sekcja-tekst {
    padding: 120px;
    background-color: rgba(255, 238, 218, 0.64);
    height: 60vh;
}
.sekcja-1 .sekcja-tekst .carousel2 .carousel-indicators ol li {
    list-style-type: none;
}

.sekcja-1 .row .sekcja-tekst p {
    font-size: 14px;
    letter-spacing: 0.3px;
}

.sekcja-1 .row .sekcja-tekst blockquote {
    font-size: 12px;
    letter-spacing: 0.5px;
    border-left: 3px solid rgba(0, 0, 0, 0.46);
}

.sekcja-2 {
    margin-top: 100px;
}

.sekcja-2 .row .sekcja-tekst-2 {
    padding: 30px;
    letter-spacing: 0.3px;
    line-height: 20px;
}

.sekcja-2 .row .sekcja-tekst-2 img {
    margin-bottom: 20px;
    color: #ff6e4c;
}

.images-overlay .row .image-default {
    background-position: -50px;
    background-size: cover;
    position: relative;
    height: 30vh;
    border: 1px solid #fff;
}

.images-overlay .row .image-default-1 {
    background-image: url(../img/ironMan.jpg);
}

.images-overlay .row .image-default-2 {
    background-image: url(../img/joker.jpg);
    background-position: 0px;
}

.images-overlay .row .image-default-3 {
    background-image: url(../img/justice.jpg);
}

.images-overlay .row .image-default-4 {
    background-image: url(../img/spider.jpg);
    background-position: -85px;
}

.images-overlay .row .image-default-5 {
    background-image: url(../img/hulkobrazek.jpg);
}

.images-overlay .row .image-default-6 {
    background-image: url(../img/superhero-2503808_1280.jpg);
}

.images-overlay .row .image-default .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(99, 216, 255, 0.63);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.images-overlay .row .image-default:hover .overlay {
    height: 100%;
}

#supervillains {
    margin-top: 100px;
}

#supervillains .main-container-villains h3 {
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(132, 142, 255, 0.2);
    padding-bottom: 10px;
}

.text {
    white-space: nowrap;
    color: #fff;
    font-size: 50px;
    position: absolute;
    overflow: hidden;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.image-default .overlay p {
    color:#fff;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
}

.container .row .villain-image {
    margin-top: 100px;
    transition: 0.4s;
    padding: 10px;
}
.container .row .villain-image:hover {
    box-shadow: 0px 0px 10px #000;
    border-radius: 1%;
}

.container .row .villain-image .social-icons a i {
    color: #4864ff;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 0px 5px;
    background-color: rgba(156, 160, 255, 0.35);
    border-radius: 50%;
    border: 0.5px solid rgba(156, 160, 255, 0.5);
    transition: 0.3s;
}

.container .row .villain-image .social-icons a i:hover {
    color: rgb(75, 75, 75);
    transform: rotate(360deg);
}

.container .row .villain-image img {
    height: 350px;
}
#justice {
    outline:none;
}
#justice .justice-container .row .justice-league {
    height: 40vh;
    background-image: url(../img/5427987-justice-league-wallpaper.jpg);
    background-size: cover;
    background-position: top;
}

#justice .justice-container h3 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#justice .justice-info h3 {
    margin-top: 100px;
    letter-spacing: 1px;
}

#justice .justice-info #join-button {
    letter-spacing: 3px;
    width: 200px;
}

footer {
    padding: 50px 50px 100px 50px;
    margin-top: 100px;
    background-color: #1a1a1a;
}

footer .footer-container .footer-column h4 {
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer .footer-container .footer-column p,
footer .footer-container .footer-column a {
    color: #767676;
    letter-spacing: 0.5px;
}

footer .footer-container .footer-column .social-icons a {
    padding: 10px;
    transition: 0.3s;
}

footer .footer-container .footer-column .social-icons a:hover {
    color: #4f4fff;
    text-shadow: 0px 0px 2px #4e4e4e;
}


/*Crossbrowse KeyFrames for animated arrow in header*/

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
